/.idea
/__pycache
__pycache__/
script.sh
check_script.sh
/contract/real_world_contract
/contract/real-vuln
/crawler
/output
/compare/funcationality_test_1/log/
/compare/funcationality_test_2/output/
/compare/time_test_1/inout/tests-gened/
/compare/time_test_1/inout/result.exp
/compare/time_test_2/inout/tests-gened/
/compare/time_test_2/inout/result.exp
/compare/time_test_3/inout/tests-gened/
/compare/time_test_3/inout/result.exp
/compare/time_test_4/inout/tests-gened/
/compare/time_test_4/inout/result.exp
/compare/README.md
/experiment/STC-STV/inout/result.exp
/experiment/STC-STV/inout/result.expclear